/* Error: unmatched "}".
 *    ,
 * 61 | }
 *    | ^
 *    '
 *   styles\tips.scss 61:1  @import
 *   styles\index.scss 8:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a    \2577 \a 61 \2502  }\d\a    \2502  ^\a    \2575 \a   styles\\tips.scss 61:1  @import\a   styles\\index.scss 8:9  root stylesheet';
}
