/* Error: expected "{".
 *     ,
 * 214 |       border-radius: 8px;
 *     |                         ^
 *     '
 *   styles\audience.scss 214:25  @import
 *   styles\index.scss 9:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 214 \2502        border-radius: 8px;\d\a     \2502                          ^\a     \2575 \a   styles\\audience.scss 214:25  @import\a   styles\\index.scss 9:9        root stylesheet';
}
