.about {
  padding: 46px 15px;
  width: 100%;
  background: rgb(244, 245, 247);

  @include for-large-up {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }

  &:last-child {
    margin-top: 20px;
  }
}

.article {
  width: 555px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;

    @include for-large-up {
      font-weight: 700;
      font-size: 22px;
      line-height: 32px;
      margin: 0;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 6px;

    @include for-large-up {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 0;
      margin-top: 6px;
    }
  }

  &:last-child {
    @include for-large-up {
      margin-top: 0;
    }
  }
}
