.logo {
  display: flex;

  &_footer {
    @include for-large-down {
      display: none;
    }
  }

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 13px;
    margin-left: -1px;

    @include for-large-up {
      width: 60px;
      height: 60px;
      margin-right: 15px;
    }
  }

  &__name {
    margin: 0px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    margin: 0px;
    display: none;

    @include for-large-up {
      display: block;
      font-size: 18px;
      line-height: 25px;
      color: rgb(43, 41, 45);
      opacity: 0.6;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.vertical-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include for-large-up {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }

  &__descripton {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}
